%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/emdb_nif.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -g -Wall -Wextra -Wno-unused-parameter -O2"},
    {"LDFLAGS", "$LDFLAGS -llmdb"}
]}.

{post_hooks, [
    {compile, "rm -f c_src/*.o c_src/*.d"}
]}.

{cover_excl_mods, [emdb_nif]}.
